@keyframes thunder-1 {
    0% {
        opacity: .3;
    }
    25% {
        opacity: 1;
    }
    75%, 100% {
        opacity: 0;
    }
}

@keyframes cloud-1 {
    0%, 100% {
        left: 200px;
    }
    50% {
        left: 220px;
    }
}
@keyframes cloud-2 {
    0%, 100% {
        left: 300px;
    }
    50% {
        left: 320px;
    }
}

@keyframes cloud-3 {
    0%, 100% {
        left: 90px;
    }
    50% {
        left: 110px;
    }
}

@keyframes background {
    0%, 100% {
        opacity: .7;
    }
    50% {
        opacity: 1;
    }
}


.thunderstorm__wrapper {
    background-color: #0278AE;
    height: 100%;
    animation: background infinite;
    animation-duration: 2s;
    transition: all .3s;

    .animal-image {
        position: absolute;
        bottom: 30px;
        right: 360px;
        max-height: 150px;
    }

    .thunderstorm__cloud-1 {
        position: absolute;
            .cloud__wrapper {
            position: relative;
            z-index: 1;
            left: 200px;
            width: 350px;
            animation: cloud-1 infinite;
            animation-duration: 2s;

            rect, ellipse {
                fill: #666;
            }
        }
    }

    .thunderstorm__cloud-2 {
        position: absolute;
            .cloud__wrapper {
            position: relative;
            left: 300px;
            transform: scale(0.6);
            width: 350px;
            animation: cloud-2 infinite;
            animation-duration: 2s;

            rect, ellipse {
                fill: #6e6e6e;
            }
        }
    }

    .thunderstorm__cloud-3 {
        position: absolute;
            .cloud__wrapper {
            position: relative;
            left: 90px;
            transform: scale(0.6);
            width: 350px;
            animation: cloud-3 infinite;
            animation-duration: 2s;

            rect, ellipse {
                fill: #818181;
            }
        }
    }
    

    .thunder-1-wrapper {
        position: relative;
        width: 300px;
        left: 370px;
        top: 116px;
        animation: thunder-1 infinite;
        animation-duration: 2s;
        animation-delay: 1s;
        opacity: 0;
        

        .thunder-element-1 {
            position: absolute;
            animation-duration: .5s;
            animation-delay: 0s;
            height: 175px;
            width: 5px;
            border-radius: 3px;
            background-color: yellow;
            transform: rotate(21deg);
            left: -34px;
        }

        .thunder-element-2 {
            position: absolute;
            animation-duration: .5s;
            animation-delay: 0s;
            height: 142px;
            width: 5px;
            border-radius: 3px;
            background-color: yellow;
            transform: rotate(70deg);
            top: 73px;

        }

        .thunder-element-3 {
            position: absolute;
            animation-delay: .2s;
            animation-duration: .5s;
            height: 300px;
            width: 5px;
            border-radius: 3px;
            background-color: yellow;
            transform: rotate(21deg);
            top: 110px;
            left: 11px;
        } 
    }
}