.header {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-areas: ". header";
    grid-column-gap: 20px;
    align-items: center; 
    justify-content: stretch;
    background-color: transparent;
    color: $black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    .header__title {
        grid-area: header;
        justify-self: center;
    }
}